{% extends "base.html" %}
{% block title %}About Storybox{% endblock %}
{% block content %}
	<h1>About Storybox</h1>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu ullamcorper velit. Suspendisse potenti. Quisque et metus sit amet urna fermentum luctus sed eu sem. Quisque vulputate justo quam, id mattis nulla egestas at. Pellentesque dui eros, laoreet a bibendum sit amet, egestas quis ante. Donec vehicula ut purus at lobortis. Curabitur gravida neque et ante tristique semper. Donec vel condimentum odio, dapibus ullamcorper neque.
	
	<h2>FAQ</h2>
	<dl class="faq">
		<dt>Question 1</dt>
		<dd>Answer goes here</dd>
		
		<dt>Question 2</dt>
		<dd>Answer goes here</dd>
		
		<dt>Question 3</dt>
		<dd>Answer goes here</dd>
	</dl>
{% endblock %}
