{% extends "base.html" %}
{% import "_formhelpers.html" as formhelpers %}
{% block title %}Change Username or Password{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading with-right-link">
			<h3 class="panel-title">Edit Profile</h3>
			<a class="right-link" href="{{ url_for('me_edit_login') }}">Change Username or Password</a>
		</div>
		<form class="form-horizontal panel-body" action="." method="POST">
			{{ form.csrf_token }}
			{{ formhelpers.render_field(form.name, "This will be shown on your profile and your non-anomymous stories.", autofocus=true) }}
			{{ formhelpers.render_field(form.bio, "<a href='" + url_for('help', topic='markdown') + "'>Markdown</a> is allowed", rows=20) }}
			{{ formhelpers.render_buttons("Save", [("Cancel", url_for('me'))]) }}
		</form>
	</div>
{% endblock %}
