{% extends "base.html" %}
{% import "_formhelpers.html" as formhelpers %}
{% block title %}Write{% endblock %}
{% block content %}
	<form class="form-blend" action="." method="POST">
		{{ form.csrf_token }}
		
		<ol class="breadcrumb distraction">
			<li><a href="{{ url_for('write.index') }}">Write</a></li>
			<li class="active">{{ story.title }}</li>
		</ol>
		
		{{ formhelpers.render_field(form.title, class="form-control title-field", autofocus=True) }}
		
		<div class="toolbar clearfix">
			<a class="btn btn-default" href="#" onclick="wrapSelection($('#text'), '*', { '***': '**', '**': '***', '*': '' })"><em>i</em></a>
			<a class="btn btn-default" href="#" onclick="wrapSelection($('#text'), '**', { '***': '*', '**': '', '*': '***' })"><strong>b</strong></a>
			
			<a class="btn btn-default pull-right" href="{{ url_for('help.topic', topic='editing') }}" target="_blank">?</a>
		</div>
		{{ formhelpers.render_field(form.text, class="form-control textarea-autosize with-toolbar", resize=False, rows=10, placeholder="Once upon a time...   (The textarea will resize as you type)") }}
		
		<div class="distraction">
			<a class="detail-disclosure" href="#advanced" data-toggle="collapse">&mdash;&nbsp;Advanced&nbsp;&mdash;</a>
			<div id="advanced" class="collapse">
				{{ formhelpers.render_field(form.prev_page) }}
				<p class="helptext">
					You can make branching stories by setting multiple pages to follow a single one.<br />
					Branching stories get a different URL scheme, using gibberish page identifiers rather than sequential page numbers.
					<a href="{{ url_for('help.topic', topic='branching') }}" target="_blank">(read more)</a>
				</p>
			</div>
			
			{{ formhelpers.render_buttons("Publish") }}
		</div>
	</form>
{% endblock %}
{% block after_js %}
	<script type="text/javascript">
		$('#text')
			// Make distractions disappear while you're typing, and
			// reappear when they're not.
			.keyup(hideDistractionsIfEventTargetIsNotEmpty)
			.focus(hideDistractionsIfEventTargetIsNotEmpty)
			.blur(function() { setDistractions(true) })
	</script>
{% endblock %}
